<html>
<body>
    <% if !@show.title.nil? and @show.title != "" %>
      <strong><%= @show.title %></strong><br/>
    <% end -%>
        <strong><%= @show.bands.map { |band| "<a href='#{@band_prefix_url}#{band.short_name}?utm_source=favorites_fan&utm_medium=email'>"+band.name+"</a>" }.join(" / ") %></strong><br/>
        <%= @show.date.strftime("%a %m/%d") %>, <%= @show.date.strftime("%I:%M%p") %><br/>
        @ <%= @show.venue.name %> in <%= @show.venue.city %>, <%= @show.venue.state %><br/><br/>
        
        <%
        attending = @fan.friends_going(@show)

        attending_friends = attending.map { |f| 
          "<a href='#{@band_prefix_url}fan/#{f.name}?utm_source=show_reminder&utm_medium=email'>"+f.name+"</a>"
        }.join(" / ")
      
        attending_line = ""
      
        if attending_friends.size > 0
          attending_line = "<p>Friends Interested: #{attending_friends}</p>"
        end
        -%>
        
        <% if !attending_line.empty? %>
          <%= attending_line %>
        <% end %>
        
        <% if @show.description != "" %>
           <%= @show.description %>
           <br/><br/>
        <% end %>
          <% tm_link = TicketMaster.show_link(@show, true, TicketMaster::REMINDER_EMAIL)
             if tm_link
          %>
         <strong><a href="<%= tm_link %>">Find Tickets!</a></strong><br/><br/>
         <% end %>
         <% the_url = @show_prefix_url.to_s + @show.to_param %>
         <a href="<%= the_url %>?utm_source=show_reminder&utm_medium=email">More show details at tourb.us</a>

<br/>
  <p>
    If you'd like to stop receiving these reminders, log in to 
    <a href="http://tourb.us">your account</a> and modify the "Show Reminders" setting.
  </p>

<%= @email_signoff %>
</body>
</html>

