<% @header_title = "Edit a Show" %>

<%= render(:partial => "shared/show_form",
		   :locals => 
			{
			:controller => "/" + @band.band_id,
			:action_text => "Edit Show",
			:action => "edit_show" 
			})  
%>