Band page for <%= @band.name %>

<div class="box1">
	<h3>A box</h3>
	
	<p>Here is some content</p>
</div>
<br/>
<div class="box2">
	<h3>A box</h3>
	
	<p>Here is some content</p>
</div>
<br/>
<div class="box3">
	<h3>A box</h3>
	
	<p>Here is some content</p>
</div>
<br/>
<div class="box4">
	<h3>A box</h3>
	
	<p>Here is some content</p>
</div>