<%
title = "Could not find a band with name \"#{params[:short_name]}\""

msg = "The band or page you were looking for doesn't exist."
%>

<%= render(:partial => "shared/not_found", 
       :locals => { :title => title, :msg => msg }) %>