<div id="main_no_side">

<% @header_title = @band.name + "/Photos" %>


<span><%= public_band_link "Back To Main Band Page", @band %></span>

	<%= render(
	:partial => "shared/photo_preview", 
	:locals => 
		{
		:photos => @band.photos,
		:type => Photo.Band,
		:id => @band.id,
		:full => true
		}) 
	%>
	
</div>
