<% @page_title = "Fan Signup Confirmed" %>
<% @header_title = "Fan Signup Confirmed" %>


<p style="color: red"><%= flash[:error] %></p>

<% if @fan %>
	Your account has been confirmed! You can now log in using the account information
	sent in your confirmation email.
	
	link here
<% end %>