<% @page_title = "Fan Signup Confirmed" %>
<% @header_title = "Fan Signup Confirmed" %>


<% if @fan %>
	<h2>Your account has been confirmed!</h2>
	
	<p>You can now <%= link_to("log in", :controller => "login", :action => "") %> using the account information
	sent in your confirmation email.</p>
	
<% end %>