<% @page_title = "Band Signup Confirmed" %>
<% @header_title = "Band Signup Confirmed" %>

<p style="color: red"><%= flash[:error] %></p>

<% if @band %>
	<h2>Your account has been confirmed!</h2>
	
	<p>You can now <%= link_to("log in", :controller => "login", :action => "") %> using the account information
	sent in your confirmation email.</p>
	
<% end %>