<p style="color: red"><%= flash[:error] %></p>

<% if @band %>
	Your account has been confirmed! You can now log in using the account information
	sent in your confirmation email.
	
	link here
<% end %>