<% @page_title = "Signup Successful" %>
<% @header_title = "Signup Successful" %>

<h2>Thanks for signing up, <%= @name %>!</h2> 

<p>You will receive an email shortly that contains instructions on how to confirm your account.</p>