<% @page_title = "Signup Successful" %>
<% @header_title = "Signup Successful" %>

<h2>Thanks for signing up, <%= @name %>!</h2> 

<p>You'll get an email shortly that has instructions on how to confirm your account before you 
<%= link_to "login", :controller => "login", :action => "" %>.</p>

<p><b>Important:</b> If you use spam filters, please remember that it could be filtered to your "Spam" or "Junk" folder.

<br/>The mail will be from <b>robot@tourb.us</b></p>