<html>
<body>
  <p>
    Hi, <%= @fan.name %>. Here's a list of upcoming shows we think you'll be interested in.
    To make these emails more useful to you in the future, tell tourb.us about more of your favorite bands.
  </p>
  
  <% for show in @new_shows %>
  <p>
        <strong><%= show.bands.map { |band| band.name }.join("/") %></strong><br/>
        <%= show.date.strftime("%a %m/%d") %>, <%= show.date.strftime("%I:%M%p") %><br/>
        @ <%= show.venue.name %> in <%= show.venue.city %>, <%= show.venue.state %><br/>
        <% if show.description != "" %>
           <%= show.description %>
           <br/><br/>
         <% end %>
         <a href="<%= @url_prefix + show.id.to_s %>">More Details</a> 
         
  </p>  
  <% end %>
  
  <hr/>
  <p>
    If you'd like to stop receiving these emails from tourb.us, log in to your account 
    <a href="http://tourb.us">here</a> and modify the "Receive Email Updates" setting.
  </p>

<%= @email_signoff %>

</body>
</html>
