<html>
<body>
	<p>
		Hi, <%= fan.name %>.
	</p>
	<p>
		We tried to deliver you an email with a list of shows played by your favorite
		bands in your area. However, it turns out you have never told tourbus your location!
		Log in to your account <a href="http://mytourb.us">here</a>, and set your location
		in your account settings.
	</p>
	<p> If you don't want to receive any more emails with show listings, you can tell us
		in your account settings. But we're not sure why'd you'd want to do that... don't
		you want to know when your favorite bands are coming to town? Ok, ok... it's your call.
	</p>
	<p>
		Thanks,<br/>
		the tourbus team.
	</p>
</body>
</html>