<html>
<body>
<p>
A new band registered at <%= Time.now.asctime %>. Bombtastic!
</p>

<p>
Bandname: <%=@band.name%><br/>
Email: <%=@band.contact_email%>
</p>

<p>
<a href="http://tourb.us/<%=@band.short_name%>">http://tourb.us/<%=@band.short_name%></a>
</p>

<p>
Start picking out gold-plated pants! We're gonna be rich!
</p>

</body>
</html>
  
