<html>
<body>

<p>
Thanks for signing up, <%=@band.name%>! To confirm your registration, 
please click the following link:
</p>

<p>
<a href="<%=@confirm_url%>"><%=@confirm_url%></a>
</p>

<p>
Once you have confirmed your account information, you will be able to log in using the 
following account information:
</p>

<p>
Username: <%=@band.band_id%><br/>

</p>

<p>
Once your account is confirmed, your public page will become active at:
</p>

<p>
	<a href="<%=@public_url%>"><%=@public_url%></a>
</p>

<p>
Comments and photos sent to this email address will be automatically added:
</p>

<p>
	<a href="mailto:<%=@band.upload_email_addr%>"><%=@band.upload_email_addr%></a>
</p>

<p>
Thanks,<br/>
The TourBus Team
</p>

</body>
</html>
	