<% @header_title = "Edit Announcement" %>

<%= start_form_tag :action => 'edit_announcement' %>

<%= render(:partial => "announcement_form",
		   :locals => 
			{
			})  
%>

<%= submit_tag "Edit" %>
<%= end_form_tag %>

