<div id="main">

<% @page_title = "Administer tourbus" %>
<% @header_title = "Administer tourbus" %>

<h2>Administration Options</h2>
<p>
	<%= link_to "Create a Band", :action => "create_band" %>
</p>
<p>
	<%= link_to "List Announcements", :action => "list_announcements" %>
</p>

</div>

<div id="side">

</div>
