<div id='main'>
	<h2>Status: <%= params[:status] %></h2>
	<p>
		<% for show in @shows %>
		<div style="border:1px solid gray;padding:16px;">
			<table>
				
			</table>
		</div>
		<% end %>
	</p>
</div>