/* font-family: Trebuchet, "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", sans-serif; */
/* nice blue: #D1ECF5. Too pastel? */

a { color: #99CC00; }
a:link { color: #99CC00 }
a:visited { color: #99CC00 }


.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#ErrorExplanation {
  width: 400px;
  border: 2px solid 'red';
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#ErrorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#ErrorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#ErrorExplanation ul li {
  font-size: 12px;
  list-style: square;
}


body
{
	text-align:center;
	background-color: #cccccc;
	margin:0 auto;
}

a
{
	color:#99CC00;	
}

h1
{
	color:#484A4C;
	font-size:28px;
}

td, p
{
	color:#555;
	font-size:14px;
}	

#container
{
	margin:8 auto;
	width:850px;
	#height:97%;
	background-color:white;
	border:1px solid #484A4C;
	text-align:left;
}

.testme
{
	padding-right:24px;
}

#main_logo
{
	#margin-top:16px;
	#margin-bottom:32px;
	padding-left:16px;
	text-align:left;
	font-size:60px;
	font-family: verdana, arial, helvetica, sans-serif;
	background-color: #484A4C;
	color: #99CC00;
}

#header
{
	font-size: 11px;
	position: relative;
	right: 30px;
	text-align: right;
	bottom: 20px;
	float:right;
}

#header a { color: #99CC00; }
#header a:link { color: #99CC00; }
#header a:visited { color: #99CC00; }



#signup_ad
{
	text-align:center;
	font-size:16px;
	color:black;
	#border: 1px solid gray;
	margin-bottom:16px;
	margin:24px;
}

#content
{
	margin:16px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* Boxes */
.box1
{
	background-color: #F4F9E5;
	border:1px solid #ccc;
	color:#4C5C5C;
	width:200px;
	font-size:12px;
}

.box1 h3
{
	margin-top:0px;
	padding-top:0px;
	padding-left:8px;
	font-size:13px;
	background-color: #484A4C;
	color:white;
}

.box1 p
{
	padding-left:8px;
}


.box2
{
	background-color: #D1ECF5;
	border:1px solid #ccc;
	color:#4C5C5C;
	width:200px;
	font-size:12px;
}

.box2 h3
{
	margin-top:0px;
	padding-top:0px;
	padding-left:8px;
	font-size:13px;
	background-color: #484A4C;
	color:white;
}

.box2 p
{
	padding-left:8px;
}

.box3
{
	background-color: #F4F9E5;
	border:1px solid #ccc;
	color:#4C5C5C;
	width:200px;
	font-size:12px;
}

.box3 h3
{
	margin-top:0px;
	padding-top:0px;
	padding-left:8px;
	font-size:13px;
	background-color: #99CC00;
	color:white;
}

.box3 p
{
	padding-left:8px;
}

.box4
{
	background-color: #484A4C;
	border:1px solid #ccc;
	color:white;
	width:200px;
	font-size:12px;
}

.box4 h3
{
	margin-top:0px;
	padding-top:0px;
	padding-left:8px;
	font-size:13px;
	background-color: #CEE58B;
	color:Black;
}

.box4 p
{
	padding-left:8px;
}

/* END BOXES */

fieldset
{
	border: 1px solid #bbbbbb;
	font-size:12px;
	margin-top:16px;
}

/* Stolen from rollyo and modified... update! */
table.form-table {
	border-collapse: collapse;
	}
table.form-table th {
	width: 120px;
	padding: 15px 15px 0 0;
	text-align: right;
	vertical-align: top;
	border-bottom: 1px solid #ddd;
	font-size:13px;
	}
table.form-table th em {
	display: block;
	margin: 2px 0 0 0;
	font-style: normal;
	font-weight: normal;
	font-size: 85%;
	color: #555;
	}
table.form-table td {
	margin: 0 0 10px 0;
	padding: 15px 20px 15px 0;
	vertical-align: top;
	text-align: left;
	border-bottom: 1px solid #ddd;
	font-size: 11px;	
	}
table.form-table td a {
	font-size: 12px;
	}
	
table.form-table #cal_trigger
{
	cursor:pointer;
}
	
table.form-table td.last, table.form-table th.last {
	border-bottom: none;
	}
table.form-table td p, body.info .box td p{
	margin: 10px 0 0 0;
	padding: 0;
	font-size: 11px;
	color: #555;
	}
	
	
	
table.form-table td input.form-text, table.form-table td select {
	color: #555;
	background: #eee;
	border: 1px solid #ccc;
	}

table.form-table td textarea {
	color: #555;
	background: #eee;
	border: 1px solid #ccc;
	width:300px;
	}
table#edit-form input, table#edit-form textarea, table#edit-form select {
	background: #eee;
	}
	
table.form-table td input {
	color: #555;
	background: #eee;
	border: 1px solid #ccc;
	}
		
table.form-table td.info {
	font-size: 11px;
	color: #555;
	}
table.form-table .info {
	font-size: 11px;
	color: #555;
	}
table.form-table td.info ul {
	margin: 10px;
	padding: 0;
	list-style: none;
	}
table.form-table td.info ul li {
	margin: 0 0 5px 0;
	padding: 0 0 0 13px;
	}
table.form-table tr.submit td {
		border:0px;
	}
table.form-table tr.submit input {
		background:#484A4C;
		color:#99CC00;
		cursor:pointer;
	}

table.form-table table.venue_result_table {
	border:2px solid red;
}

table.form-table #selected_venue {
	font-size:12px;	
}

#venue_search_results {
	border:1px solid #ccc;
	margin-top:8px;
	background-color:#eee;
}

#venue_search_results h3 {
	font-weight:bold;
	font-size:11px;
	margin: 8px;
}

#venue_search_results .error_message {
	color:red;
	font-style:italic;
	margin-left:8px;
}

#venue_results_table {
	border-collapse: collapse;
	width:100%;
}


#venue_results_table td {
	margin-left: 20px;
	padding: 4px 8px 8px 8px;
	vertical-align: top;
	text-align: left;
	border-bottom: 0;
	font-size: 11px;	
	color: #555;
	background-color:#eee;
}

#venue_results_table a {
	font-size: 11px;
}	

#paging_status {
	margin-left:8px;
	#padding-bottom:8px;
}

#paging_controls {
	margin-bottom:8px;
}

#paging_controls a {
	font-size:11px;
}

#band_logo_select
{
	margin-top:8px;
}	


	
		




