/* font-family: Trebuchet, "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", sans-serif; */
/* nice blue: #D1ECF5. Too pastel? */

a { color: #99CC00; }
a:link { color: #99CC00 }
a:visited { color: #99CC00 }


.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#ErrorExplanation {
  width: 400px;
  border: 2px solid 'red';
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#ErrorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#ErrorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#ErrorExplanation ul li {
  font-size: 12px;
  list-style: square;
}


body
{
	text-align:center;
	background-color: #cccccc;
	margin:0 auto;
}

a
{
	color:#99CC00;	
}

img
{
	border: 0;
}

h1
{
	color:#484A4C;
	font-size:28px;
}

h1 span {
	font-size:12px;
	font-weight:normal;
}

h2
{
	color:#484A4C;
	font-size:20px;
	margin-bottom:4px;
}

h2 span
{
	font-size:12px;
	font-weight:normal;
}

td, p
{
	color:#555;
	font-size:14px;
}	

#container
{
	margin:8 auto;
	width:850px;
	#height:97%;
	background-color:white;
	border:1px solid #484A4C;
	text-align:left;
	padding-bottom:24px;
}

.testme
{
	padding-right:24px;
}

#main_logo
{
	#margin-top:16px;
	#margin-bottom:32px;
	padding-left:16px;
	text-align:left;
	font-size:60px;
	font-family: verdana, arial, helvetica, sans-serif;
	background-color: #484A4C;
	color: #99CC00;
}

#header
{
	font-size: 11px;
	position: relative;
	right: 30px;
	text-align: right;
	bottom: 20px;
	float:right;
}

#header a { color: #99CC00; }
#header a:link { color: #99CC00; }
#header a:visited { color: #99CC00; }

#header strong {
	margin-left:8px;
}



#signup_ad
{
	text-align:center;
	font-size:16px;
	color:black;
	#border: 1px solid gray;
	margin-bottom:16px;
	margin:24px;
}

#content
{
	margin:16px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* Boxes */
.box1
{
	background-color: #F4F9E5;
	border:1px solid #ccc;
	color:#4C5C5C;
	width:200px;
	font-size:12px;
}

.box1 h3
{
	margin-top:0px;
	padding-top:0px;
	padding-left:8px;
	font-size:13px;
	background-color: #484A4C;
	color:white;
}

.box1 p
{
	padding-left:8px;
}


.box2
{
	background-color: #D1ECF5;
	border:1px solid #ccc;
	color:#4C5C5C;
	width:200px;
	font-size:12px;
}

.box2 h3
{
	margin-top:0px;
	padding-top:0px;
	padding-left:8px;
	font-size:13px;
	background-color: #484A4C;
	color:white;
}

.box2 p
{
	padding-left:8px;
}

.box3
{
	background-color: #F4F9E5;
	border:1px solid #ccc;
	color:#4C5C5C;
	width:200px;
	font-size:12px;
}

.box3 h3
{
	margin-top:0px;
	padding-top:0px;
	padding-left:8px;
	font-size:13px;
	background-color: #99CC00;
	color:white;
}

.box3 p
{
	padding-left:8px;
}

.box4
{
	background-color: #484A4C;
	border:1px solid #ccc;
	color:white;
	width:200px;
	font-size:12px;
}

.box4 h3
{
	margin-top:0px;
	padding-top:0px;
	padding-left:8px;
	font-size:13px;
	background-color: #CEE58B;
	color:Black;
}

.box4 p
{
	padding-left:8px;
}

/* Search Results */
.results_box
{
	background-color: #F4F9E5;
	border:1px solid #ADD039;
	color:#4C5C5C;
	width:200px;
	font-size:12px;
	margin-top:-4px;
	padding: 8px;
	line-height: 140%;
}


.results_box div
{
	padding-bottom:8px;
	margin-bottom:8px;
	border-bottom:1px solid #ADD039;
}



/* Box for side-bar tags */
.sidebar-box
{
	background-color: #F4F9E5;
	border:1px solid #99CC00;
	font-size: 13px;
}

.sidebar-box ul
{
	margin-left: -8px;	
}

.sidebar-box li
{
	list-style-type: square;
	color:#4C5C5C;
}

.sidebar-box p
{
	margin-left: 8px;
	font-size:12px;
}

.sidebar-box form
{
	margin-left: 8px;
}

.sidebar-box input
{
	color:#484A4C;
	font-size:12px;
}

.sidebar-box h2
{
	margin-top:0px;
	padding-top:2px;
	padding-bottom:2px;
	padding-left:8px;
	font-size: 13px;
	background-color: #99CC00;
	color: #484A4C;
}

.error-prompt-box
{
	background-color: #FFE1E1;
	border:1px solid #ccc;
	color:#4C5C5C;
	width:50%;
	font-size:12px;
}

.error-prompt-box h3
{
	margin-top:0px;
	padding-top:0px;
	padding-left:8px;
	font-size:13px;
	background-color: #e00400;
	color:white;
}

.error-prompt-box p
{
	padding:0 8px 8px 8px;
	font-size:12px;
}

.error-prompt-box table td
{
	font-size:12px;
}

/* END BOXES */

/* Dropdown box to autocomplete tags */
div.auto_complete 
{
	width: 350px;
	background: #fff;
}

div.auto_complete ul 
{
	border:1px solid #888;
    margin:0;
    padding:0;
    width:100%;
    list-style-type:none;
}

div.auto_complete ul li 
{
	margin:0;
    padding:3px;
    font-size: 12px;
    list-style-type:none;         
}

div.auto_complete ul li.selected 
{ 
	background-color: #ffb; 
}

div.auto_complete ul strong.highlight 
{ 
	color: #800; 
    margin:0;
    padding:0;
}


.tag_hit_list
{

}

.tag_hit_item
{

}

fieldset
{
	border: 1px solid #bbbbbb;
	font-size:12px;
	margin-top:16px;
}

/* Stolen from rollyo and modified... update! */
table.form-table {
	border-collapse: collapse;
	}
table.form-table th {
	width: 120px;
	padding: 15px 15px 0 0;
	text-align: right;
	vertical-align: top;
	border-bottom: 1px solid #ddd;
	font-size:13px;
	}
table.form-table th em {
	display: block;
	margin: 2px 0 0 0;
	font-style: normal;
	font-weight: normal;
	font-size: 85%;
	color: #555;
	}
table.form-table td {
	margin: 0 0 10px 0;
	padding: 15px 20px 15px 0;
	vertical-align: top;
	text-align: left;
	border-bottom: 1px solid #ddd;
	font-size: 11px;	
	}
table.form-table td a {
	font-size: 12px;
	}
	
table.form-table #cal_trigger
{
	cursor:pointer;
}
	
table.form-table td.last, table.form-table th.last {
	border-bottom: none;
	}
table.form-table td p, body.info .box td p{
	margin: 10px 0 0 0;
	padding: 0;
	font-size: 11px;
	color: #555;
	}
	
	
	
table.form-table td input.form-text, table.form-table td select {
	color: #555;
	background: #eee;
	border: 1px solid #ccc;
	}

table.form-table td textarea {
	color: #555;
	background: #eee;
	border: 1px solid #ccc;
	width:300px;
	}
table#edit-form input, table#edit-form textarea, table#edit-form select {
	background: #eee;
	}
	
table.form-table td input {
	color: #555;
	background: #eee;
	border: 1px solid #ccc;
	}
		
table.form-table td.info {
	font-size: 11px;
	color: #555;
	}
table.form-table .info {
	font-size: 11px;
	color: #555;
	}
table.form-table td.info ul {
	margin: 10px;
	padding: 0;
	list-style: none;
	}
table.form-table td.info ul li {
	margin: 0 0 5px 0;
	padding: 0 0 0 13px;
	}
table.form-table tr.submit td {
		border:0px;
	}
table.form-table tr.submit input {
		background:#484A4C;
		color:#99CC00;
		cursor:pointer;
	}

table.form-table table.venue_result_table {
	border:2px solid red;
}

table.form-table #selected_venue {
	font-size:12px;	
}

#venue_search_results {
	border:1px solid #ccc;
	margin-top:8px;
	background-color:#eee;
}

#venue_search_results h3 {
	font-weight:bold;
	font-size:11px;
	margin: 8px;
}

#venue_search_results .error_message {
	color:red;
	font-style:italic;
	margin-left:8px;
}

#venue_results_table {
	border-collapse: collapse;
	width:100%;
}

#venue_results_table td {
	margin-left: 20px;
	padding: 4px 8px 8px 8px;
	vertical-align: top;
	text-align: left;
	border-bottom: 0;
	font-size: 11px;	
	color: #555;
	background-color:#eee;
}

#venue_results_table a {
	font-size: 11px;
}	

#paging_status {
	margin-left:8px;
	#padding-bottom:8px;
}

#paging_controls {
	margin-bottom:8px;
}

#paging_controls a {
	font-size:11px;
}

#band_logo_select
{
	margin-top:8px;
}	

#main
{
	float:left;
	width: 620px;
}

#side
{
	padding-top:16px;
	float: right;
	width: 180px;
}

#main_no_side {
	width: 800px;
}

#footer
{
	clear: both;
}	

#main h1
{
	margin-top:0px;
	margin-bottom:4px;	
}

		
#main .results_box
{
	width:560px;
}

#main .results_box td
{
	font-size:12px;
}

.map_info
{
	font-size:11px;
}

.single_line_controls span
{
	margin-left:8px;
}

table.info-table {
	border-collapse: collapse;
	}
table.info-table th {
	width: 120px;
	padding: 14px 8px 0 0;
	text-align: right;
	vertical-align: top;
	font-size:13px;
	}
table.info-table th em {
	display: block;
	margin: 2px 0 0 0;
	font-style: normal;
	font-weight: normal;
	font-size: 85%;
	color: #555;
	}
table.info-table td {
	margin: 0 0 10px 0;
	padding: 15px 20px 15px 0;
	vertical-align: top;
	text-align: left;
	font-size: 12px;	
	}
table.info-table td a {
	font-size: 12px;
	}
	
/* Photos */
table.photo_table td {
	padding: 8px 8px 4px 4px;
	text-align:center;
}

table.photo_table img {
	border: 1px solid #ccc;
}

table.photo_table td span {
	font-size:10px;
	color:black;
}

table.photo_table td span a {
	font-size:10px;
	color: #2B95B6;
}

.photo_box
{
	background-color: #F4F9E5;
	border:1px solid #ADD039;
	color:#4C5C5C;
	font-size:12px;
	width:560px;
	margin-top:-4px;
	padding: 8px;
	line-height: 140%;
}

.photo_box table.form-table th {
	width:80px;
	padding: 15px 15px 0 0;
	text-align: right;
	vertical-align: top;
	border-bottom: 1px solid #ddd;
	font-size:13px;
}

#main .photo_box {
	width:560px;
}

#main_no_side .photo_box
{
	width:740px;
}

/* Comments */
.comments_box
{
	background-color: #F4F9E5;
	border:1px solid #ADD039;
	color:#4C5C5C;
	font-size:12px;
	width:560px;
	margin-top:-4px;
	padding: 8px;
	line-height: 140%;
}

.comments_box table.form-table th {
	width:80px;
	padding: 15px 15px 0 0;
	text-align: right;
	vertical-align: top;
	border-bottom: 1px solid #ddd;
	font-size:13px;
}

table.comments_table td {
	vertical-align: top;
	padding: 8px 8px 4px 4px;
	text-align:left;
	border-bottom:1px solid #ADD039;
}

table.comments_table td span {
	font-size:10px;
	color:black;
}

table.comments_table a {
	color: #2B95B6;
}

.comments_table {
	width:95%;
}

.comment_from {
	vertical-align: top;
}

.comment_body {
	text-align:left;
	margin-top: 6px;
	margin-left: 12px;
}

.comment_post {
	font-size:10px;
	text-align:right;
}