<p>Ignore this, just testing</p>
<p>
	Following the instructions <a href="http://localhost:3000/turkers/hit?turk_site_id=<%= site.id %>">http://localhost:3000/turkers/hit</a>.
	Enter the code below.
</p>