<%= error_messages_for 'band' %>

<!--[form:band]-->
<p><label for="band_name">Name</label><br/>
<%= text_field 'band', 'name'  %></p>

<p><label for="band_contact_email">Contact email</label><br/>
<%= text_field 'band', 'contact_email'  %></p>

<p><label for="band_bio">Bio</label><br/>
<%= text_area 'band', 'bio'  %></p>
<!--[eoform:band]-->

