<div>
	<%= link_to_unless_current("Home", :action => "home") %> |
	<%= link_to_unless_current("Tours", :action => "tours") %> |
	<%= link_to_unless_current("Shows", :action => "shows") %> |
	<%= link_to_unless_current("Contact", :action => "contact") %>
</div>