<%= render(:partial => "tabs", :locals => {:active => "tours"}) %>

<div style="width:300px;border:1px solid gray">

Add a tour:

<%= start_form_tag :id => @tour %>
	<%= error_messages_for 'tour' %>
	
	<p><label for="band_contact_email">Name</label><br/>
	<%= text_field 'tour', 'name'  %></p>
	<%= submit_tag 'Add Tour' %>

</div>

<div style="margin-left:12px;border:1px solid gray;width:400px">

<% for tour in @band.tours %>
	<div><%=tour.name%></div>
<% end %>

</div>