<br/>
<% if @pages and @pages.item_count > 0 %>
  <span id="search_paging_controls">
  
      <%= pagination_links @pages, :params => { :prefix => params[:prefix] } %>
  
	  <span id="search_paging_status">
	  (Showing <%= @pages.current.first_item %> - <%= @pages.current.last_item %> of <%= @pages.item_count %>)
	  </span> 
	  
  </span>  
<% end %>