<div id="main">

<% @page_title = "Search results for \"#{params[:query]}\"" %>

<div id="search_results">

<%= start_form_tag %>
Search for upcoming shows: <%= text_field_tag 'query', params[:query] %> <%= submit_tag 'Search' %>
<%= end_form_tag %>

<% # TEMP TEMP TEMP TEMP TEMP TEMP %>

<%= 
	if @results
		show_results @results, false 
	end
%>


<%= render :partial => "paging" %>

</div>

</div>
