<table><tr><td><img src="/images/fave_star.png"/></td><td><a href="#" id="add_fave_link">Add to Favorites</a></td></tr></table>

<% if request.xhr? %>
<script type="text/javascript">
  Tooltip.add('add_fave_link', 'add_tip');
</script>
<% end %>

<script type="text/javascript">
  function toggleFave(event)
  {
    Tooltip.toggle($('add_fave_link'), event);
  }
</script>