<table><tr><td><img src="/images/fave_star.png" height="15" width="16" onload='fixPNG(this)'/></td><td><a href="#" id="add_fave_link">Add to Favorites</a></td></tr></table>

<% if request.xhr? %>
<script type="text/javascript">
  Tooltip.add('add_fave_link', 'add_tip');
</script>
<% end %>
