<div id="front-search-box" class="front_search">

<!---
  <h2 id="front-search-title"><span class="title">A Better Way to Find Live Music</span></h2>
-->

<div class="info">

<%= start_form_tag %>

Search: <%= text_field_tag 'query'%>

<%= end_form_tag %>

</div>

</div>