BEGIN:VCALENDAR
METHOD:PUBLISH
CALSCALE:GREGORIAN
PRODID:-//tourb.us//tourb.us calendar//EN
VERSION:2.0 
<% shows.each do |s| -%>BEGIN:VEVENT
DTSTART:<%= ical_format_time(s.date) %>
DTEND:<%= ical_format_time(s.date + s.bands.size.hours) %>
DTSTAMP:<%= ical_format_time(Time.now) %>
CLASS:PUBLIC
SUMMARY:<%= s.name %>
LOCATION:<%= ical_address(s.venue) %><% if !s.description.empty? %>DESCRIPTION:<%= ical_format_text(s.description) %><% end -%>
END:VEVENT
<% end -%>END:VCALENDAR