<div class="sidebar-box">
	<h2>Photos</h2>
	
	<p>
	<%
		if photos.nil? or photos.empty?
	%>
		There are no photos yet.<br/><a href="#">Add Some!</a>
	<%
		else
	%>
		<%= photo_thumbnail_table photos[0..3] %>
		<br/>
		<a href="#">View/Add More Photos</a>
	<%
		end
	%>
	</p>
</div>