<table><tr><td><img src="/images/delete_small.gif"/></td><td><a href="#" id="remove_fave_link">Remove As Favorite</a></td></tr></table>

<% if request.xhr? %>
<script type="text/javascript">
	Tooltip.add('remove_fave_link', 'remove_tip');
</script>
<% end %>