<table>
<tr>
<td><img src="/images/unattend_show.gif"/></td>
<td><a href="#" id="remove_attending_link">Remove Attending Show</a></td>
</tr>
</table>

<% if request.xhr? %>
<script type="text/javascript">
	Tooltip.add('remove_attending_link', 'remove_tip');
</script>
<% end %>