<table>
<tr>
<td><img src="/images/unattend_show.gif"/></td>
<td><a href="#" id="remove_watching_link">Stop Watching</a></td>
</tr>
</table>

<% if request.xhr? %>
<script type="text/javascript">
  Tooltip.add('remove_watching_link', 'remove_watch_tip');
</script>
<% end %>

<script type="text/javascript">
  function toggleWatching(event)
  {
    Tooltip.toggle($('remove_watching_link'), event);
  }
</script>