<table><tr><td><img src="/images/delete.png" height="16" width="16"/></td><td><a href="#" id="remove_fave_link">Remove From Favorites</a></td></tr></table>

<% if request.xhr? %>
<script type="text/javascript">
  Tooltip.add('remove_fave_link', 'remove_tip');
</script>
<% end %>

<script type="text/javascript">
  function toggleFave(event)
  {
    Tooltip.toggle($('remove_fave_link'), event);
  }
</script>