
<div class="portlet_full">

<h3>Welcome!</h3>

<!-- TODO Right Real Text -->

Tourbus is an <b>awesome</b> new way to do stuff to your friends! Tourbus is an <b>awesome</b> new way to do stuff to your friends!
Tourbus is an awesome new way to do stuff to your friends! Tourbus is an awesome new way to do stuff to your friends! You should 
<%= link_to("Sign Up", :controller=> "signup")  %>

</div>

