<html>
<body>

<p>
Hi, <%=@fan.name%>.
</p>

<p>
You (or someone trying to mess with you) has asked us to reset your password. You can do this by visiting
the following link:
</p>

<p>
<a href="<%=@url%>"><%=@url%></a>
</p>

<p>
Once you click on this link, your password will be reset and you can use the new password to log in.
You should then change your password back to something you can remember.
</p>

<p>
If this email was sent in error, please ignore it. Your old password will continue to work.
</p>

<p>
Thanks,<br/>
The tourbus team
</p>

</body>
</html>