<html>
<body>
<p>
A new fan registered at <%= Time.now.asctime %>. Huzzah!
</p>

<p>
Username: <%=@fan.name%><br/>
Email: <%=@fan.contact_email%>
</p>

<p>
<a href="http://tourb.us/fan/<%=@fan.name%>">http://tourb.us/fan/<%=@fan.name%></a>
</p>

<p>
We are one step closer to global domination! The music revolution continues!
</p>

</body>
</html>
  
