Thanks for signing up, <%=@fan.name%>! 

You can now log in using the 
following account information:

Username: <%=@fan.name%>

Quick Tip: To get started using tourb.us, add your favorite bands from
iTunes, Last.fm or entering them. Then we'll tell you as soon as we find their nearby shows.

<%= @import_url %>

<%= @email_signoff_plain %>
  
