<html>
<body>

<p>
Thanks for signing up, <%=@fan.name%>!
<p>
You can now log in using the following account information:
</p>

<p>
Username: <%=@fan.name%>
</p>

<p>
Quick Tip: To get started using tourb.us, 
<a href="<%= @import_url %>?utm_source=signup&utm_medium=email">add your favorite bands</a> from
iTunes, Last.fm or entering them. Then we will tell you as soon as we find nearby shows.

<br/><br/><a href="<%= @import_url %>?utm_source=signup&utm_medium=email"><%= @import_url %></a>
</p>

<p>
<%= @email_signoff %>
</p>
</body>
</html>
  
