Thanks for signing up, <%=@fan.name%>! To confirm your registration, 
please click the following link:

<%=@confirm_url%>

Once you have confirmed your account information, you will be able to log in using the 
following account information:

Username: <%=@fan.name%>
Password: <%=@fan.password%>

<%= @email_signoff_plain %>
  
