<html>
<body>
    <p>
        <a href="http://www.metrohybrid.com">MetropolitanHybrid</a> has been kind enough to set up a ticket presale
        for tourb.us users going to the <a href="http://tourb.us/show/11162">Bob Dylan/The Raconteurs show</a> 
        at Continental Arena in East Rutherford, NJ on November 16th. You are receiving this email because you
        have expressed interest in the show or one of the bands.
    </p>
    
    <p>
        At 10am tomorrow, Friday, September 8th, you will be able to go to
        <a href="http://www.ticketmaster.com/event/00003D19B938CA98?">http://www.ticketmaster.com/event/00003D19B938CA98?</a>
        and enter "modern" as the password for the internet presale. The password will be active until 10pm tomorrow night.
    </p>
    
    <p>
        tourb.us is just beginning to experiment with ticket presale promotions. 
        If you are interested in more promotions like this,
        never want to hear about another one, or have any feedback at all <strong>please</strong>
        <a href="mailto:feedback@tourb.us">let us know</a>.
    </p>
    
    <p>
		<%= @email_signoff %>
	</p>
</body>
</html>