<html>
<body>
  <p>Hey <%= @fan.name %>,</p>
  
  <p>We thought you'd like to know that we now have more of the bands on your
    wishlist in our database, so we added them as your new favorites. Now when they play a show in your
    area you'll get an email about it.
  </p>
  
  <p>
    <b>New Favorites:</b>
    <br/><br/>
    <% for band in @bands %>
        <%= link_to band.name, "#{@band_prefix_url}#{band.short_name}?utm_source=wishlist&utm_medium=email" %><br/><br/>
    <% end %>
  </p>  
  
<%= @email_signoff %>
</body>
</html>
