<html>
<body>

<p>
A new photo was posted <%= time_ago_in_words( @photo.created_on ) %> ago, by <%= @photo.created_by_name %>.
</p>

<p>
You can view the photo here:<br/>

TODO PUT LINK TO PHOTO HERE
</p>

<p>
Take a look!

<p>
Thanks,<br/>
The TourBus Team
</p>

</body>
</html>
	