<html>
<body>

<h3>Last 24 Hours of Activity</h3>
Recent fan signups: <%= @recent_fans.size %> <br/>
[ <%= @recent_fans.map { |f| 
          "<a href='http://tourb.us/fan/#{f.name}'>"+f.name+"</a>"
        }.join(" | ") %> ] <br/><br/>

Recent logins: <%= @recent_logins.size %> <br/>
[ <%= @recent_logins.map { |f| 
          "<a href='http://tourb.us/fan/#{f.name}'>"+f.name+"</a>"
        }.join(" | ") %> ] <br/>

<br/>
Fan added faves: <%= @fan_adds.size %> <br/>
Imported faves: <%= @import_adds.size %> <br/>
Last.fm added faves: <%= @lastfm_adds.size %> <br/>
<br/>
Reminders sent: <%= @reminder_events.size %> <br/>
Share emails sent: <%= @sharing_events.size %> <br/>

<br/>
<h3>Totals</h3>

Upcoming shows: <%= @upcoming_shows.size %><br/>
Total fans: <%= @fans %> <br/>
Total bands: <%= @bands %><br/>
Total venues: <%= @venues %><br/>
Total shows: <%= @shows %><br/>

</p>
</body>
</html>
