<html>
<body>

<p>
Problem report sent at: <%= @sent %> <br/> <br/>

From: <%= @fan %> (<%= @fan_email %>)<br/>
Type: <%= @type %> <br/>
id: <%= @id %> <br/>
Reason: <%= @reason %> <br/>

<%= simple_format( sanitize(@notes) ) %>

</p>


</body>
</html>
