<div id="main">

<% @header_title = @page_title = @fan.name + "/Favorite Bands" %>


<%= render :partial => "profile_header", :locals => { :front_page => false } %>


<%= section "favorite_bands_section.png", 213, 25 %>
<br/>
<%= band_results(@bands) %>

</div>

<%= render :partial => "profile_sidebar" %>