This is your profile page. Other users will be able to see a modified version of it.
From this page you can look at your upcoming shows, favorite bands, and a bunch of other stuff. 
<br/><br/>
Since you're new to tourb.us, we suggest you start
by editing your <%= link_to 'account settings', :controller => 'fans', :action => :settings %>,
uploading a picture and adding a bio. 
Then <%= link_to 'tell us about your favorite bands', :controller => "fan", :action => "import_favorites" %>
and find some shows to go to!