<div id="main_no_side">

<% @header_title = @fan.name + "/Photos" %>
<!--
<h1><%= @fan.name %> <span><%= public_fan_link "Back To Main Fan Profile", @fan %></span></h1>
-->

	<%= render(
	:partial => "shared/photo_preview", 
	:locals => 
		{
		:photos => @fan.photos,
		:type => Photo.FromFan,
		:id => @fan.id,
		:full => true
		}) 
	%>
	
</div>
