<%= render :partial => 'links' %>

<div id="main">

<% @header_title = @fan.name + " / Photos" %>

<%= render :partial => "profile_header", :locals => { :front_page => false } %>

  <%= render(
  :partial => "shared/photo_preview", 
  :locals => 
    {
    :photos => @fan.photos,
    :type => Photo.FromFan,
    :id => @fan.id,
    :full => true
    }) 
  %>
  
</div>

<%= render :partial => "profile_sidebar" %>