<div id="main">
<% @page_title = "Testing Badges" %>
<% @header_title = "Testing Badges" %>

<p>

<br/><br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="<%= "#{public_fan_url}" + "/badge" %>">

</p>

<p>

<br/><br/>

<p>tourb.us badge</p>

<script language="JavaScript"
src="<%= "#{public_fan_url}" + "/js?n=5" %>"
type="text/javascript"></script>

</div>