<% @header_title = "Edit a Show" %>

<%= render(:partial => "shared/show_form",
       :locals => 
      {
      :controller => params[:controller],
      :action_text => "Edit Show",
      :action => "edit" 
      })  
%>