<% @header_title = date_venue_title(@show) + "/Fans" %>

<div id="main">
  <%= render :partial => "profile_header", :locals => { :front_page => false } %>
  
  <%= section("fans_section.png", 68, 23) %>
  <br/>
  <% 
    if logged_in_fan
        fans = @show.fans_friends_first(logged_in_fan, true)
    else
        fans = @show.fans
    end
  %>
  <%= fan_results(fans, true) %>
</div>

<%= render :partial => "profile_sidebar", :locals => { :show_fans => false } %>