<% @header_title = @show.formatted_title + "/Photos" %>

<div id="main">

<%= render :partial => "profile_header", :locals => { :front_page => false } %>

	<%= render(
	:partial => "shared/photo_preview", 
	:locals => 
		{
		:photos => @show.photos,
		:type => Photo.Show,
		:id => @show.id,
		:full => true
		}) 
	%>
	
</div>

<%= render :partial => "profile_sidebar" %>