<% @page_title = "Reset Password" %>
<% @header_title = "Reset Password" %>

<% if @new_password %>

<p>We reset your password to <strong><%= @new_password %></strong>. Use this password to 

<% if params[:fan_id] %>
    <%= link_to "login", :action => "" %>,
<% else %>
    <%= link_to "login", :action => "band" %>,
<% end %>


and then change your password to something memorable.
</p>

<% end%>