<% @page_title = "Reset Password" %>
<% @header_title = "Reset Password" %>

<% if @new_password %>

<p>We reset your password to <strong><%= @new_password %></strong>. Use this password to <%= link_to "login", :action => "" %>,
and then change your password to something memorable.
</p>

<% end%>