<h2>Thank you for completing the HIT!</h2>
<p>
    Please copy and paste the token below into the submission form on the mturk site.
    <br/>
    Your submission will be approved within 24 hours.
</p>
<p>
    <h3><%= @sub.token %></h3>
</p>