<strong>Thank you for completing the HIT!</strong>
<p>
    Please copy and paste the token below into the submission form on the mturk site.
    <br/>
    Your submission will be approved as soon as possible.
</p>
<p>
    <h3><%= @sub.token %></h3>
</p>