<div id="main">

<% @header_title = @venue.name + " / Photos" %>
<% @page_title = venue_title(@venue) + " / Photos" %>

<%= render :partial => "profile_header", :locals => { :front_page => false } %>

  <%= render(
  :partial => "shared/photo_preview", 
  :locals => 
    {
    :photos => @venue.photos,
    :type => Photo.Venue,
    :id => @venue,
    :full => true
    }) 
  %>
  
</div>

<%= render :partial => "profile_sidebar" %>