<% @page_title = "About" %>
<% @header_title = "About" %>

<div id="signup_ad">
 
<br/>Include some things like:

<ul>

<li>Shoutouts to the technology we use</li>

<li>How people can give us feedback / help the site / get answers in the FAQ</li>

<li>The G & M made for TV movie</li>

</ul>

</div>