
<div id="signup_ad">

All your questions answered! TODO Fill in...

<h2>Thanks</h2>

<p>FamFamFam for <a href="http://www.famfamfam.com/lab/icons/silk/">the great set of icons.</a>

<p>Thanks to <a href="http://fonts.tom7.com/">Tom7 for making great fonts</a>. 
The tourbus logo is written in his <a href="http://fonts.tom7.com/fonts98.html">Prog.Bot</a> font.

</div>