

<div id="signup_ad" class="box1">
Hey!<br/>
Are you in a promising local band? If so,</br>

<%= link_to("Sign Up Today!", :controller => "signup", :action => "step1") %>
<br/>
or
<br/>
<%= link_to("Login", :controller => "band", :action => "login") %>

</div>
