<% @page_title = "Tour" %>
<% @header_title = "Tour" %>


<div id='main'>

<!--

<%= image_tag "bloglines_small.png" %>


<%= image_tag "tonights_shows.png" %>
--->

</div>

<div id='side'>

</div>