<% @page_title = "Tour" %>
<% @header_title = "Tour" %>


<div id='main'>

<!--

<%= image_tag "bloglines_small.png" %>


<%= image_tag "tonights_shows.png" %>
--->

<p><span class="generic_title">Notifications</span>


<p><span class="generic_title">Tonight's Shows</span>


<p><span class="generic_title">Import from iTunes & Last.fm</span>


</div>

<div id='side'>

</div>