<html>
<head>
  <title>Tourbus</title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'main' %>
</head>

<body>

<div id="container">
<div id="main_logo">TOURBUS</div>
<div id="content">
<p style="color: green"><%= flash[:notice] %></p>
<%= @content_for_layout %>
</div>
</div>

</body>
</html>