<html>
<head>
  <title>tourbus: 
  <%= 
  	if @page_title 
	  @page_title
   	else
   	  # Default title
      "Find Local, Live Music" 
   	end
   %>
  </title>
  
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <%= stylesheet_link_tag "main" %>
  <%= stylesheet_link_tag "calendar-system.css" %>
  <%= javascript_include_tag "prototype" %>
  <%= javascript_include_tag "effects" %>
  <%= javascript_include_tag "controls" %>
  <%= javascript_include_tag "Tooltip.js" %>
  <link rel="shortcut icon" href="/images/favicon.ico" >
  
  <%= @content_for_head %>
</head>

<body onload="<%= @content_for_onload %>">

<div id="container">
<div id="main_logo">

<a href="/"><img src="/images/logo2.gif" style="margin-top:4px;margin-bottom:4px"></a>

<div id="header">
	<%
		is_fan = !session[:fan].nil? && session[:fan].confirmed?
		is_band = !session[:band].nil? && session[:band].confirmed?

		if is_fan
	%>
		<%= session[:fan].name %>:
		<%= public_fan_link "Profile", session[:fan] %> |
		<%= link_to("Settings", :controller => "fan", :action => "settings") %> |
		<%= link_to("Feedback", :controller => "feedback") %> |
	    <%= link_to("Log Out", :controller => "fan", :action => "logout") %>
	
	<%
		elsif is_band
	%>
		<%= session[:band].name %>:
		<%= public_band_link "Home", session[:band] %> |
		<%= link_to("Settings", :controller => "band", :action => "settings") %> |
		<%= link_to("Feedback", :controller => "feedback") %> |
	    <%= link_to("Log Out", :controller => "band", :action => "logout") %>
	
	<%
		elsif !is_fan and !is_band
	%>
		<%= link_to("Login", :controller => "login") %> |
		<%= link_to("Feedback", :controller => "feedback") %> |
	    <%= link_to("Sign Up", :controller => "signup") %>
	<%
		end
	%>
	
</div>

</div>

<div id="navbar">

<div id="nav-options">
	<span class="nav-option"><%= link_to("Shows", :controller => "find", :action => "show") %></span>
	<span class="nav-option"><%= link_to("Bands", :controller => "find", :action => "band") %></span>
	<span class="nav-option"><%= link_to("Venues", :controller => "find", :action => "venue") %></span>
</div>

</div>


<%
	if @header_title
%>
	<div id="content_header">
		<h1><%= @header_title %></h1>
	</div>
<%
	end
%>


<div id="content">
<p style="color: green"><%= flash[:notice] %></p>
<%= @content_for_layout %>
</div>

<!-- ugly hack -->
<div style="clear:both">
</div>

<div id="footer">

<a href="/faq">FAQ</a> |
<a href="http://blog.mytourb.us">Blog</a> | 
<a href="/about">About</a> |
<%= link_to("Feedback", :controller => "feedback") %> |
<a href="http://groups.google.com/group/tourbus">Discussion</a>

</div>

</div>

</body>
</html>