<%
# Black & White style CSS to be included on the page
# NOTE: Needs to match html_badge.rhtml output
# NOTE: Must use single quotes
-%>
div#tb_badge {width:190px;margin:0;border:1px solid black;padding:0;background-color:white;}
#tb_date {font-size:16px;}

