<%
# Default tourb.us style CSS to be included on the page
# NOTE: Needs to match html_badge.rhtml output
# NOTE: Must use single quotes
-%>
div#tb_badge {width:160px;margin:0;border:1px solid #a51410;padding:0; background-color:blue;}
#tb_date {font-size:16px;}
